@{
    Layout = null;
}
<html>
<head>
    <title>Reactor</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div  class="container" id="content"></div>
    <script src="https://fb.me/react-0.14.0.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.min.js"></script>
    <script src="@Url.Content("~/Scripts/showdown.min.js")"></script>
    <script src="@Url.Content("~/Scripts/toilet/reactor.jsx")"></script>
</body>
</html>